
###############
# JSON flavor #
###############

# JSON file paths for user-editable configuration.
CLIENTS_JSON_PATH=
EMAIL_TEMPLATE_PATH=

# State JSON file paths
COMPLETION_STATE_PATH=
REMINDER_SEND_STATE_PATH=
PERIOD_RESOLUTION_STATE_PATH=

# Cache directory for holiday data
HOLIDAY_CACHE_DIR=

#################
# Notion flavor #
#################

NOTION_API_KEY=
NOTION_CLIENTS_DATA_SOURCE_NAME=
NOTION_CLIENTS_DATA_SOURCE_ID=
NOTION_TASKS_DATA_SOURCE_NAME=
NOTION_TASKS_DATA_SOURCE_ID=

NOTION_TEST_CLIENT_ID_A=
NOTION_TEST_CLIENT_ID_B=

#################
# Email sending #
#################

# SMTP credentials for sending emails.
SMTP_HOST=
SMTP_PORT=25
SMTP_USERNAME=
SMTP_PASSWORD=

# The email address that will appear in the "From" field of sent emails.
SMTP_FROM=

# Email address to receive notifications about errors or edge cases.
ADMIN_EMAIL=



